.onePizza {
    border: 1px solid #2aabd2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 10px;
    padding: 15px;
    height: 200px;
    width: 90%;
}

.onePizza a.name {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.onePizza p.desc {
    font-size: 0.8em;
}

.onePizza img {
    max-width: 200px;
}

.onePizza .prix {
    color: #016304;
    font-size: 1.5em;
    font-weight: bold;
}

p.titre {
    margin-top: 21px;
    margin-bottom: 10.5px;
    font-size: 32px;
}
#reglement, #resume{
    display: none;
}
