{% extends "pizzas/global.html" %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
        <h1>My Pizza, Le meilleur de la pizza!</h1>
        <p>Une pizza achetée une offerte pour les pizzas à emporter. -15 % ce soir sur les livraisons </p>
    </div>
    {% if all_pizza %}
        <div class="allPizza">
            {% for pizza in all_pizza %}
                <div class="col-md-4">
                    <div class="onePizza">
                        <a class="name" href="{% url 'pizza:detail' pizza.id %}">{{ pizza.name }}</a>
                        <p class="desc col-md-8">{{ pizza.desc|truncatewords_html:25 }}</p>
                        <img class="col-md-4" src="{% static 'pizzas/images/' %}{{ pizza.id }}.png" alt="">
                        <div class="more row">
                            <div class="col-md-6 btn-group" role="group">
                                <form action="{% url 'pizza:addPanier' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ pizza.id }}" name="pizza_id">
                                    <button type="submit" href="#" class="btn btn-success btn-xs">Commander</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p class="prix text-right">{{ pizza.pizza_prix }} €</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucune pizza de disponible</p>
    {% endif %}
{% endblock %}
