{% extends "pizzas/global.html" %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
        <h1 class="text-center">La {{ pizza.name }}</h1>
        <div class="col-md-9"><p>{{ pizza.desc }}</p></div>
        <div class="col-md-3"><img style="max-width: 200px;" src="{% static 'pizzas/images/' %}{{ pizza.type }}/{{ pizza.id }}.png"></div>
        <a href="#" class="btn btn-primary">Ajoutez au panier</a>
        <div class="clearfix"></div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">CKOI2Dans :</h2>
        </div>
        <div class="panel-body">
            <ul>
                {% for ingredient in pizza.ingredient_set.all %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}