<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>My Pizza</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'pizzas/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pizzas/css/bootstrap.min.css' %}"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "pizza:index" %}">My Pyzza.fr</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Pizzas <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Entrées</a></li>
                <li><a href="#">Boissons</a></li>
                <li><a href="#">Nos Menus</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'pizza:panier' %}">Mon panier</a></li>
                {% if user.is_authenticated %}
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Mon compte <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin">Admin</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                 {% else %}
                    <li><a href="/admin">Me connecter</a></li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="{% static 'pizzas/js/jquery.min.js' %}"></script>
<script src="{% static 'pizzas/js/bootstrap.min.js' %}"></script>
<script src="{% static 'pizzas/js/script.js' %}"></script>
</body>
</html>
