{% extends "pizzas/global.html" %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
        <h1>My Pizza, Le meilleur de la pizza!</h1>
        <p>Une pizza achetée une offerte pour les pizzas à emporter. -15 % ce soir sur les livraisons </p>
    </div>
    {% if all_menu %}
        <section class="allPizza">
            <div class="row">
                <header><h2 class="text-capitalize">Nos boissons:</h2></header>
            </div>
            {% for menu in all_menu %}
                <div class="col-md-4">
                    <div class="onePizza">
                        <a class="name" href="#">{{ menu.name }}</a>
                        <div>
                           <ul style="margin-top: 15px;">
                               <li>{{ menu.entree }}</li>
                               <li>{{ menu.pizza }}</li>
                               <li>{{ menu.boisson }}</li>
                           </ul>
                        </div>
                        <div class="more row">
                            <br>
                            <div class="col-md-6 btn-group" role="group">
                                <form action="{% url 'pizza:addPanier' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ menu.id }}" name="menu_id">
                                    <input type="hidden" value="menu" name="type">
                                    <button type="submit" href="#" class="btn btn-success btn-xs">Commander</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p class="prix text-right">{{ menu.prix }} €</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% else %}
        <p>Aucune entrée de disponible</p>
    {% endif %}{#  If end entree#}


    {# Pizza #}
    {% if all_pizza %}
        <section class="allPizza">
            <div class="row">
                <header><h2 class="text-capitalize">Les pizzas:</h2></header>
            </div>
            {% for pizza in all_pizza %}
                <div class="col-md-4">
                    <div class="onePizza">
                        <a class="name" href="{% url 'pizza:detail' pizza.id %}">{{ pizza.name }}</a>
                        <p class="desc col-md-8">{{ pizza.desc|truncatewords_html:25 }}</p>
                        <img class="col-md-4" src="{% static 'pizzas/images/' %}{{ pizza.type }}/{{ pizza.id }}.png"
                             alt="boissons">
                        <div class="more row">
                            <div class="col-md-6 btn-group" role="group">
                                <form action="{% url 'pizza:addPanier' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ pizza.id }}" name="pizza_id">
                                    <input type="hidden" value="pizza" name="type">
                                    <button type="submit" href="#" class="btn btn-success btn-xs">Commander</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p class="prix text-right">{{ pizza.prix }} €</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% else %}
        <p>Aucune pizza de disponible</p>
    {% endif %}{#  If end pizza#}


    {# BOISSON #}
    {% if all_boisson %}
        <section class="allPizza">
            <div class="row">
                <header><h2 class="text-capitalize">Nos boissons:</h2></header>
            </div>
            {% for boisson in all_boisson %}
                <div class="col-md-4">
                    <div class="onePizza">
                        <a class="name" href="#">{{ boisson.name }}</a>
                        <div class="col-md-4 col-md-offset-4">
                            <img src="{% static 'pizzas/images/boissons/' %}{{ boisson.id }}.png"
                                 alt="boisson" style="height: 100px; margin: 10px 0">
                        </div>
                        <div class="more row">
                            <br>
                            <div class="col-md-6 btn-group" role="group">
                                <form action="{% url 'pizza:addPanier' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ boisson.id }}" name="boisson_id">
                                    <input type="hidden" value="boisson" name="type">
                                    <button type="submit" href="#" class="btn btn-success btn-xs">Commander</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p class="prix text-right">{{ boisson.prix }} €</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% else %}
        <p>Aucune boisson de disponible</p>
    {% endif %}
{% endblock %}
