{% extends 'pizzas/global.html' %}
{% load staticfiles %}

{% block content %}
    <div class="panel panel-primary" id="start">
        <div class="panel-heading">
            <h1 class="panel-title">Votre commande</h1>
        </div>
        <div class="panel-body">
            {% if pizza_commander %}
                <p class="titre">{{ pizza_commander|length }} produit(s) : {{ total_ttc|floatformat:2 }} €</p>
                <div class="allPizza row">
                    {% for pizza in pizza_commander %}
                        <div class="col-md-4">
                            <div class="onePizza">
                                <a class="name" href="{% url 'pizza:detail' pizza.id %}">{{ pizza.name }}</a>

                                {% if pizza.type == "pizzas" %}
                                    <p class="desc col-md-8">{{ pizza.desc|truncatewords_html:25 }}</p>
                                    <img class="col-md-4"
                                         src="{% static 'pizzas/images/' %}{{ pizza.type }}/{{ pizza.id }}.png"
                                         alt="Photo d un sublime Pizza !">
                                {% elif pizza.type == "menus" %}
                                    <div>
                                        <ul style="margin-top: 15px;">
                                            <li>{{ pizza.entree }}</li>
                                            <li>{{ pizza.pizza }}</li>
                                            <li>{{ pizza.boisson }}</li>
                                        </ul>
                                    </div>
                                {% elif pizza.type == "boissons" %}
                                    <div class="col-md-4 col-md-offset-4">
                                        <img src="{% static 'pizzas/images/boissons/' %}{{ pizza.id }}.png"
                                             alt="boisson" style="height: 100px; margin: 10px 0">
                                    </div>
                                {% endif %}

                                <div class="more row">
                                    <div class="col-md-6">
                                        <form action="{% url 'pizza:removePanier' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ pizza.id }}" name="pizza_id">
                                            <button type="submit" href="#" class="btn btn-danger btn-xs">Supprimer
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="prix text-right">{{ pizza.prix }} €</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <p>&nbsp;</p>
                    <p class="text-center"><a href="{% url 'pizza:index' %}" class="btn btn-info">Continuer mes
                        achats</a></p>
                    <p class="text-center"><a href="{% url 'pizza:index' %}" id="lunchReglement"
                                              class="btn btn-success">Valider et payer ma
                        commande de {{ total_ttc|floatformat:2 }} €</a></p>
                </div>
            {% else %}
                <p class="alert alert-info">Vous n'avez aucune pizza en commande</p>
                <p class="text-center"><a href="{% url 'pizza:index' %}" class="btn btn-info">Commander un produit</a>
                </p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-primary" id="reglement">
        <div class="panel-heading">
            <h2 class="panel-title">Réglement</h2>
        </div>
        <div class="panel-body">

            <div id="coordone" style="margin-top: 20px;">
                <h3 class="panel-title" style="margin: 15px 0;color: #008CBA">Vos coordonées</h3>
                <form action="#" class="form-group">
                    <input placeholder="Prénom" class="form-control" type="text" name="prenom" id="prenom"><br>
                    <input placeholder="Nom de famille" class="form-control" type="text" name="nomFamille"
                           id="nomFamille"><br>
                    <input placeholder="Adresse" class="form-control" type="text" name="adresse" id="adresse"><br>
                    <input placeholder="Code Postal" class="form-control" type="number" name="codePostal"
                           id="codePostal"><br>
                    <input placeholder="Ville" class="form-control" type="text" name="ville" id="ville"><br>
                    <input placeholder="Numeros de téléphone" class="form-control" type="tel" name="telephone"
                           id="telephone"><br>
                </form>
            </div>
            <div id="methode">
                <h3 class="panel-title" style="margin-bottom: 15px;color: #008CBA">Méthode de paiement</h3>
                <div class="col-md-4">
                    <input type="checkbox" name="tr" id="tr">
                    &nbsp;<label for="tr">Ticket restaurant</label>
                </div>
                <div class="col-md-4">
                    <input type="checkbox" name="espece" id="espece">
                    &nbsp;<label for="espece">Espèce</label>
                </div>
                <div class="col-md-4">
                    <input type="checkbox" name="cb" id="cb">
                    &nbsp;<label for="cb">Carte Bancaire</label>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="text-center"><a href="#" class="btn btn-success" id="validateCommande">Validé</a></div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" id="resume">
        <div class="panel-heading">
            <h3 class="panel-title">Votre commande est validée</h3>
        </div>
        <div class="panel-body">
            <h4>Merci <span id="resumePrenon"></span></h4>
            <p>&nbsp;</p>
            <p>La livraison de votre commande sera livré aux <br>
                <strong id="resumeAdresse"></strong></p>

            <p>Votre Pizzeria preferé</p>
            <br><br>
            <a href="{% url 'pizza:addPanier' %}" class="btn btn-primary">Recommencer</a>
        </div>
    </div>

{% endblock %}
<div id="methode">
